@import 'variables';

.sign {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;

  &__wrap {
    width: 100%;
    max-width: 300px;
    padding: 40px 30px;
    border-radius: 15px;
    box-shadow: 0 0 5px #00000025;
  }

  &__title {
    max-width: 180px;
    color: $color-dark-gray;
    font-weight: 400;
    margin-bottom: 50px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__input {
    margin-bottom: 20px;
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 20px 0;
  }

  &__links {
    display: flex;
    justify-content: space-between;
  }
}

.sign-action {
  &__title {
    font-size: 20px;
    font-weight: 400;
  }

  &__button {
    background: url("../static/icons/chevron-right.svg") $color-primary center center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: background-color .2s;

    &:hover {
      background-color: $color-light-primary;
    }
  }
}