$color-darker-gray: #999999;
$color-dark-gray: #212529;
$color-gray: #21252975;
$color-light-gray: #21252950;
$color-lighter-gray: #21252925;

$color-primary: #f39b4c;
$color-light-primary: #f39b4c75;
$color-lighter-primary: #f39b4c50;
$color-lightest-primary: #f39b4c25;

$color-white: #ffffff;
