$color-dark-gray: #212529;
$color-gray: #21252975;
$color-light-gray: #21252950;
$color-lighter-gray: #21252925;

$color-primary: #F39B4C;
$color-light-primary: #F39B4C75;
$color-lighter-primary: #F39B4C50;
$color-lightest-primary: #F39B4C25;
