extends ../../../layouts/main.pug

block vars
    - title = 'Page 404'

block head
    link(rel='stylesheet' href='../styles.scss')

block content
    div.error-page
        h1.error-page__title 404!
        p.error-page__text Opps.. page not found
