extends layouts/main.pug

block vars
    - title = 'Index page'

block content
    h1 Pages:
    ul
        li
            a.link(href='pages/sign/in/index.pug') Sign in
        li
            a.link(href='pages/sign/up/index.pug') Sign up
        li
            a.link(href='pages/error/404/index.pug') 404 page
        li
            a.link(href='pages/error/500/index.pug') 500 page
        li
            a.link(href='pages/chat/index.pug') Chat
        li
            a.link(href='pages/profile/index.pug') Profile
